<div class="page-header">
<h2>Children</h2>
<ul class="actions">
	<li><%= link_to "Back", admin_url(current_admin), class: "btn btn-primary" %></li>
</ul>
</div>

<div class="table-responsive">
<table class="table table-bordered">
	<thead>
		<td>Name</td>
		<td>Parent</td>
		<td>Group</td>
		<td>Tutor</td>
		<td></td>
	</thead>
	<% @children.each do |child| %>
		<tr class=<%= child.group_id == nil ? "danger" : "" %>>
			<td><%= child.name %></td>
			<td><%= link_to child.parent.name, parent_path(child.parent) %></td>
			<td><%= child.group.nil? ? "Unassigned" : "Group: " + child.group.name %></td>
			<td><%= child.group.nil? ? "N/A" : (link_to child.group.tutor.name, tutor_path(child.group.tutor)) %></td>
			<td><%= link_to "View", child_path(child), class: "btn btn-primary" %></td>
		</tr>
	<% end %>
</table>
</div>