<div class="page-header">
<h2>Add Child</h2>
<ul class="actions">
	<% if admin_logged_in? %>
		<li><%= link_to "Back", children_path, class: "btn btn-primary" %></li>
	<% end %>
	<% if parent_logged_in? %>
		<li><%= link_to "Back", parent_path(current_parent), class: "btn btn-primary" %></li>
	<% end %>
</ul>
</div>

<%= simple_form_for(@child) do |f| %>
	<%= f.input :name %>
	<%= f.input :grade, collection: ["Pre-K", "Kindergarten"] + (1..12).to_a + ["Post High School"] %>
	<%= f.input :skill, collection: ["Beginner", "Intermediate", "Advanced"] %>

	<%= f.button :submit, class: "btn-primary" %>
<% end %>