<div class="page-header">
<h2><%= @child.name %>'s Profile</h2>
<ul class="actions">
	<% if admin_logged_in? %>
		<li><%= link_to "Back", children_path, class: "btn btn-primary" %></li>
	<% end %>
	<% if parent_logged_in? %>
		<li><%= link_to "Back", parent_path(@child.parent), class: "btn btn-primary" %></li>
	<% end %>
	<li><%= link_to "Edit", edit_child_path(@child), class: "btn btn-warning" %></li>
</ul>
</div>

<p>Parent: <%= link_to @child.parent.name, parent_path(@child.parent) %></p>
<p>Age: <%= @child.age %></p>
<p>Grade: <%= @child.grade %></p>
<p>Skill: <%= @child.skill %></p>

<% if @child.group.nil? %>
	<p>Group Unassigned</p>
<% else %>
	<div class="well">
		<p>Member of Group #<%= @child.group.id %> </p>
		<p>Tutor: <%= link_to @child.group.tutor.name, tutor_path(@child.group.tutor) %></p>
		<% datetime_arr = decode_sched(@child.group) %>
		<% datetime_arr.map! do |datetime| %>
			<% datetime < DateTime.now ? datetime.next_week : datetime %>
		<% end %>
		<% datetime_arr.sort! %>
		<p>Next Class: <%= datetime_arr.first.strftime("%A, %b %d, %Y %l:%M %p") %></p>
		<%= link_to "Drop", drop_path, class: "btn btn-danger", method: :patch %></p>
	</div>
<% end %>

<h3>Attendence History</h3>