<h2>Sign up</h2>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <%= f.input :name, required: true, autofocus: true %>
  <%= f.input :phone, required: true %>
  <%= f.input :address, required: true, hint: "Address, City, State, Zip" %>
  <%= f.input :email, required: true%>
  <%= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length) %>
  <%= f.input :password_confirmation, required: true %>

  <%= f.button :submit, "Sign up", class: "btn btn-primary" %>
<% end %>
<br>
<p>Already have an account? <%= link_to "Sign in here.", new_user_session_path %></p>

