<div class="page-header">
<h2>Admin Portal</h2>
<ul class="actions">
	<li><%= link_to "Tutors", tutors_path, class: "btn btn-primary" %></li>
	<li><%= link_to "Parents", parents_path, class: "btn btn-primary" %></li>
	<li><%= link_to "Children", children_path, class: "btn btn-primary" %></li>
	<li><%= link_to "Groups", groups_path, class: "btn btn-primary" %></li>
</ul>
</div>

<h3>Activity Log</h3>
<div class="table-responsive">
<table class="table table-bordered">
	<thead>
		<td>Date and Time</td>
		<td>Activity</td>
	</thead>
	<% @activities.each do |activity| %>
		<tr>
			<td><%= activity.created_at.strftime("%m/%d/%Y %l:%M %p") %></td>
			<td><%= activity_description(activity) %></td>
		</tr>
	<% end %>
</table>
</div>