<div class="page-header">
<h2>Tutors</h2>
<ul class="actions">
	<%= link_to "Back", admin_path(current_admin), class: "btn btn-primary" %>
</ul>
</div>

<div class="table-responsive">
<table class="table table-bordered">
	<thead>
		<td>Name</td>
		<td>Email</td>
		<td>Phone Number</td>
		<td>Address</td>
		<td></td>
	</thead>
	<% @tutors.each do |tutor| %>
		<tr>
			<td><%= tutor.name %></td>
			<td><%= tutor.email %></td>
			<td><%= tutor.phone %></td>
			<td><%= tutor.address %></td>
			<td><%= link_to "View", tutor_path(tutor), class: "btn btn-primary" %></td>
		</tr>
	<% end %>
</table>
</div>