<div class="page-header">
<h2><%= @tutor.name %>'s Lessons</h2>
<ul class="actions">
	<li><%= link_to "Back", tutor_path(@tutor), class: "btn btn-primary" %></li>
	<% if tutor_logged_in? && current_tutor == @tutor %>
		<li><%= link_to "New Lesson", new_lesson_path, class: "btn btn-success" %></li>
	<% end %>
</ul>
</div>

<%= form_for :search, method: :get do |f| %>
  <%= f.date_field :start_date, value: @start %>
  <%= f.date_field :end_date, value: @end %>
  <%= f.submit 'Filter', class: "btn btn-primary" %>
<% end %>

<br>

<div class="table-responsive">
<table class="table table-bordered">
	<thead>
		<td>ID</td>
		<td>Date and Time</td>
		<td>Group ID</td>
		<td>Notes</td>
		<td>Attendance</td>
	</thead>

	<% @lessons.each do |lesson| %>
		<tr>
			<td><%= lesson.id %></td>
			<td><%= lesson.datetime.strftime("%m/%d/%Y %l:%M %p") %></td>
			<td><%= lesson.group.id %></td>
			<td><%= lesson.notes %></td>
			<% attendance = Array.new %>
			<% Attendance.where(lesson: lesson).each do |a| %>
				<% child = "<span" + (a.present ? "" : " style='color: red;'") + ">" + a.child.name + "</span>" %>
				<% attendance.push(child) %>
			<% end %>
			<td><%= attendance.join(", ").html_safe %></td>
		</tr>
	<% end %>
</table>
</div>