<div class="page-header">
<h2><%= @tutor.name %>'s Profile</h2>
<ul class="actions">
	<li><%= link_to "Lessons", tutor_lessons_path(@tutor), class: "btn btn-primary" %></li>
	<% if admin_logged_in? %>
		<li><%= link_to "Back", tutors_path, class: "btn btn-primary" %></li>
	<% end %>
</ul>
</div>

<h3>Weekly Schedule</h3>
<% @slots.each do |slot| %>
	<div class="panel panel-primary">
		<div class="panel-heading"><%= slot[:datetime].strftime("%A %l:%M %p") %></div>
		<div class="panel-body">
			<p>Group #<%= slot[:group].id %></p>
			<ul>
			<% Child.where(group: slot[:group]).each do |child| %>
				<li><%= child.name %></li>
			<% end %>
			</ul>
			<br>
			<div class="well">
				<h4>Hosted By</h4>
				<p><strong>Name:</strong> <%= slot[:group].host.name %></p>
				<p><strong>Phone:</strong> <%= slot[:group].host.phone %></p>
				<p><strong>Address:</strong> <%= slot[:group].host.address %></p>
			</div>
		</div>
	</div>
<% end %>