<div class="page-header">
<h2>Edit Group #<%= @group.id %></h2>
<ul class="actions">
	<li><%= link_to "Back", groups_path, class: "btn btn-primary" %></li>
</ul>
</div>

<%= simple_form_for(@group) do |f| %>
	<%= f.input :tutor, collection: @tutors, selected: @group.tutor %>
	<%= f.input :schedule %>

	<%= f.button :submit, class: "btn-primary" %>
<% end %>