<div class="page-header">
<h2>New Group</h2>
<ul class="actions">
	<li><%= link_to "Back", admin_path(current_admin), class: "btn btn-primary" %></li>
</ul>
</div>

<%= simple_form_for(@group) do |f| %>
	<%= f.input :name %>

	<%= f.input :price %>

	<%= f.input :tutor, collection: @tutors %>
	
	<%= f.input :children, collection: @choices, label_method: lambda { |c| c.parent.city + ", " + c.parent.state + " - " + c.name + " (" + c.parent.name + ")" }, input_html: { multiple: true } %>

	<%= f.input :host, collection: @hosts %>

	<%= f.button :submit, class: "btn-primary" %>
<% end %>
