<div class="page-header">
<h2>New Group</h2>
<ul class="actions">
	<li><%= link_to "Back", admin_path(current_admin), class: "btn btn-primary" %></li>
</ul>
</div>

<%= simple_form_for(@group) do |f| %>
	<%= f.input :tutor, collection: @tutors %>

	<%= f.label "Slot 1" %>
	<%= f.input :dow, label: "Day of the Week", input_html: { multiple: true } %>
	<%= f.input :time, input_html: { multiple: true, type: 'time' } %>
	<%= f.label "Slot 2" %>
	<%= f.input :dow, label: "Day of the Week", input_html: { multiple: true } %>
	<%= f.input :time, input_html: { multiple: true, type: 'time' } %>
	
	<%= f.input :children, collection: @choices, input_html: { multiple: true } %>

	<%= f.input :host, collection: @parents %>

	<%= f.button :submit, class: "btn-primary" %>
<% end %>
