<div class="page-header">
<h2>New Group</h2>
<ul class="actions">
	<li><%= link_to "Back", groups_path, class: "btn btn-primary" %></li>
</ul>
</div>

<%= simple_form_for(@group) do |f| %>
	<%= f.input :tutor, collection: @tutors %>
	<%= f.input :schedule %>
	<%= f.input :child1, collection: @groupless %>
	<%= f.input :child2, collection: @groupless %>
	<%= f.input :child3, collection: @groupless %>
	<%= f.input :child4, collection: @groupless %>

	<%= f.button :submit, class: "btn-primary" %>
<% end %>