<div class="page-header">
<h2>New Lesson</h2>
<ul class="actions">
	<li><%= link_to "Back", tutor_lessons_path(current_tutor), class: "btn btn-primary" %></li>
</ul>
</div>

<%= simple_form_for(@lesson) do |f| %>
	<%= f.input :group, collection: @groups, label_method: lambda { |group| group.name } %>
	<%= f.input :datetime, as: :datetime, label: "Date and Time" %>
	<%= f.input :attendance, collection: @children, input_html: { multiple: true } %>
	<%= f.input :notes, as: :text %>

	<%= f.button :submit, class: "btn-primary" %>
<% end %>