<div class="page-header">
<h2><%= @parent.name %>'s Payments</h2>
<ul class="actions">
	<li><%= link_to "Back", parent_path(@parent), class: "btn btn-primary" %></li>
</ul>
</div>

<%= form_for :search, method: :get do |f| %>
  <%= f.date_field :start_date, value: @start %>
  <%= f.date_field :end_date, value: @end %>
  <%= f.submit 'Filter', class: "btn btn-primary" %>
<% end %>

<br>

<div class="table-responsive">
<table class="table table-bordered">
	<thead>
		<td>Date and Time</td>
		<td>Group</td>
		<td>Child</td>
		<td>Payment Amount</td>
	</thead>

	<% @attendances.each do |attendance| %>
		<tr>
			<td><%= attendance.lesson.datetime.strftime("%m/%d/%Y %l:%M %p") %></td>
			<td><%= attendance.lesson.group.name %></td>
			<td><%= attendance.child.name %></td>
			<td><%= number_to_currency(attendance.lesson.price) %></td>
		</tr>
	<% end %>
</table>
</div>