<div class="page-header">
<h2><%= @parent.name %>'s Profile</h2>
<ul class="actions">
	<li><%= link_to "Add Child", new_child_path, class: "btn btn-success" %></li>
</ul>
</div>

<% child_count = @children.count %>
<% ind = 0 %>
<% @children.each do |child| %>
<% if ind % 4 == 0 %>
	<div class="row">
<% end %>
	<div class="col-sm-3">
		<div class="panel panel-default">
			<div class="panel-heading">
				<%= link_to child.name, child_path(child) %>
				<%= link_to "Edit", edit_child_path(child), class: "btn btn-warning" %>
			</div>
			<div class="panel-body">
				<% if child.group.nil? %>
					<p>Group Unassigned</p>
				<% else %>
					<p>Member of Group #<%= child.group.id %></p>
					<p>Next Class:</p>
					<p>Tutor: <%= link_to child.group.tutor, groups_path %></p>
				<% end %>
			</div>
		</div>
	</div>
<% if ind == child_count-1 or ind % 4 == 3 %>
	</div>
<% end %>
<% ind += 1 %>
<% end %>

