<div class="page-header">
<h2><%= @parent.name %>'s Transactions</h2>
<ul class="actions">
	<li><%= link_to "Back", parent_path(@parent), class: "btn btn-primary" %></li>
	<% if parent_logged_in? && current_parent == @parent %>
		<li><%= link_to "Make a Payment", new_parent_transaction_path(@parent), class: "btn btn-success" %></li>
	<% end %>
</ul>
</div>

<div class="row">
	<div class="col-sm-4">
		<div class="well">
			<h3>Balance: <%= number_to_currency(@balance) %></h3>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="well">
			<h3>C20: <%= @C20 %></h3>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="well">
			<h3>C15: <%= @C15 %></h3>
		</div>
	</div>
</div>

<br>

<%= form_for :search, method: :get do |f| %>
  <%= f.date_field :start_date, value: @start %>
  <%= f.date_field :end_date, value: @end %>
  <%= f.submit 'Filter', class: "btn btn-primary" %>
<% end %>

<br>


<div class="table-responsive">
<table class="table table-bordered">
	<thead>
		<td>ID</td>
		<td>Date</td>
		<td>Description</td>
		<td>Amount</td>
		<td>Balance</td>
	</thead>

	<% balance = @balance %>
	<% @transactions.each do |transaction| %>
		<tr class=<%= "success" if transaction.balance_delta > 0 %><%= "danger" if transaction.balance_delta < 0 %>>
			<td><%= transaction.id %></td>
			<td><%= transaction.created_at.strftime("%m/%d/%Y") %></td>
			<td><%= transaction.description %></td>
			<td><%= number_to_currency(transaction.balance_delta) %></td>
			<td><%= number_to_currency(balance) %></td>
			<% balance -= transaction.balance_delta %>
		</tr>
	<% end %>
</table>
</div>