<div class="page-header">
<h2>Make a Payment</h2>
<ul class="actions">
	<li><%= link_to "Back", parent_transactions_path(@parent), class: "btn btn-primary" %></li>
</ul>
</div>

<div class="row">
	<div class="col-sm-6">
		<h3>3 Students</h3>
		<%= simple_form_for([@parent, @transaction]) do |f| %>
		<%= f.input :price, as: :hidden, input_html: { value: 20 } %>
		<%= f.input :description, as: :text %>
		<%= f.input :num_credits, label: "Number of Credits", collection: [10, 1], labels: ["Ten(10) Classes - Super Value Pack! $180.00", "Single(1) Class - $20.00"] %>

		<%= f.button  :submit, "Purchase", class: "btn-primary" %>
		<% end %>
	</div>
	<div class="col-sm-6">
		<h3>4 Students</h3>
		<%= simple_form_for([@parent, @transaction]) do |f| %>
		<%= f.input :price, as: :hidden, input_html: { value: 15 } %>
		<%= f.input :description, as: :text %>
		<%= f.input :num_credits, label: "Number of Credits", collection: [10, 1], labels: ["Ten(10) Classes - Super Value Pack! $135.00", "Single(1) Class - $15.00"] %>

		<%= f.button :submit, "Purchase", class: "btn-primary" %>
		<% end %>
	</div>
</div>