<div class="page-header">
<h2>Make a Payment</h2>
<ul class="actions">
	<li><%= link_to "Back", parent_transactions_path(@parent), class: "btn btn-primary" %></li>
</ul>
</div>

<div class="row">
	<h3>Single(1) Class</h3>
	<div class="col-sm-6">
		<h4>3 Students ($20)</h4>
		<%= simple_form_for([@parent, @transaction]) do |f| %>
		<%= f.input :price, as: :hidden, input_html: { value: 20 } %>
		<%= f.input :description, as: :text %>
		<%= f.input :num_credits, as: :hidden, input_html: { value: 1 } %>

		<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Single(1) C20 Credit"
          data-amount="2000"
          data-locale="auto"></script>
		<% end %>
	</div>
	<div class="col-sm-6">
		<h4>4 Students ($15)</h4>
		<%= simple_form_for([@parent, @transaction]) do |f| %>
		<%= f.input :price, as: :hidden, input_html: { value: 15 } %>
		<%= f.input :description, as: :text %>
		<%= f.input :num_credits, as: :hidden, input_html: { value: 1 } %>

		<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Single(1) C15 Credit"
          data-amount="1500"
          data-locale="auto"></script>
		<% end %>
	</div>
</div>
<div class="row">
	<h3>Ten(10) Classes</h3>
	<div class="col-sm-6">
		<h4>3 Students ($180)</h4>
		<%= simple_form_for([@parent, @transaction]) do |f| %>
		<%= f.input :price, as: :hidden, input_html: { value: 20 } %>
		<%= f.input :description, as: :text %>
		<%= f.input :num_credits, as: :hidden, input_html: { value: 10 } %>

		<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Ten(10) C20 Credits"
          data-amount="18000"
          data-locale="auto"></script>
		<% end %>
	</div>
	<div class="col-sm-6">
		<h4>4 Students ($135)</h4>
		<%= simple_form_for([@parent, @transaction]) do |f| %>
		<%= f.input :price, as: :hidden, input_html: { value: 15 } %>
		<%= f.input :description, as: :text %>
		<%= f.input :num_credits, as: :hidden, input_html: { value: 10 } %>

		<script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
          data-key="<%= Rails.configuration.stripe[:publishable_key] %>"
          data-description="Ten(10) C15 Credits"
          data-amount="13500"
          data-locale="auto"></script>
		<% end %>
	</div>
</div>