<!DOCTYPE html>
<html>
  <head>
    <title>NAS Chess Academy</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= tag :meta, :name => "stripe-key", :content => Rails.configuration.stripe[:publishable_key] %>
  </head>

  <body>
    <% if user_signed_in? %>
    Signed in as <%= current_user.email %> (<%= current_user.class.name %>)
    <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
    <% else %>
    Not signed in.
    <% end %>  
    <div class="container">
  	<% flash.each do |key, message| %>
      <div class="alert alert-<%= key %>">
  		  <%= message %>
      </div>
  	<% end %>
    <%= yield %>
  </div>
  </body>
</html>
